@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-family: "Pretendard-Regular";
}

p {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.main {
  background-color: rgba(0, 0, 0, 0.201);
  width: 480px;
  height: 100%;
  display: block;
  margin: auto;
  position: relative;

  .container {
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    width: 100%;

    .btn {
      height: 60px;
      background-color: #eee;
      border-radius: 10px;
      margin-bottom: 15px;
      input {
        width: 70%;
        height: 40px;
        background-color: #eee;
        margin: 15px;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
      }
      button {
        height: 40px;
        margin: 10px;
        border: none;
      }
      a {
        font-size: 23px;
        float: right;
        line-height: 60px;
        margin-right: 15px;
        color: gray;
      }
    }
  }

  .index {
    position: fixed;
    bottom: 30px;
    width: 480px;
    height: 30px;

    ul {
      width: 70px;
      margin: auto;
      display: flex;
      justify-content: space-between;

      li {
        color: #eee;
      }
      .choose {
        color: #566fee;
      }
    }
  }
}

.form1,
.form3 {
  display: none;
}
