@charset "utf-8";

@import "./reset.scss";
@import "./common.scss";
@import "./responsive.scss";
@import "./kakaomap.scss";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-family: "Pretendard-Regular";
}

p {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.main {
  width: 700px;
  height: 100%;
  display: block;
  margin: auto;
  overflow: hidden;
}

#wrap {
  width: 2100px;
  display: flex;
  padding-top: 50px;
  // transform: translate(-1400px);
}
.container {
  width: 700px;
  height: 100%;
  .btn {
    height: 60px;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 15px;
    input {
      width: 50%;
      height: 40px;
      background-color: #eee;
      margin: 10px;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box;
    }
    button {
      height: 40px;
      margin: 10px;
      border: none;
      :hover {
        color: rgb(53, 167, 129);
      }
      p {
        margin: 0;
      }
    }
    a {
      font-size: 20px;
      text-decoration: none;
      font-weight: 700;
    }

    .check {
      font-size: 23px;
      float: right;
      line-height: 60px;
      margin-right: 15px;
      color: gray;

      :hover {
        color: green;
      }
    }
  }
}

.index {
  position: fixed;
  bottom: 30px;
  width: 700px;
  height: 30px;
  margin: auto;

  ul {
    width: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    li {
      color: #eee;
    }
    .choose {
      color: #566fee;
    }
  }
}

// rec.hmtl
.wrapper {
  position: relative;
  h2,
  div {
    margin: 0;
    height: 42px;
    margin-bottom: 70px;
  }
  div {
    background-color: #fafafa;
    width: 1000px;
    position: absolute;
    top: 0;
    transition: 3s;
    transition-timing-function: linear;
  }
}
.container2 {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;

  .row_container {
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    margin: 0;
    .rec_container {
      width: 200px;
      height: 470px;
      float: left;
      margin: 0 50px 20px 0;
      cursor: pointer;
      h3 {
        font-weight: 700;
        a {
          text-decoration: none;
          color: rgb(0, 0, 105);
        }
      }
      h4 {
        font-weight: 500;
      }
      p {
        font-weight: 400;
        font-size: 14px;
      }

      img {
        width: 200px;
      }
    }
  }
}
