main
{
    height: 942px;
    width: 1362px;
    margin: auto;

    .up-section
    {
        width: 1000px;
        height: 508px;
        margin:auto;

        .search_form
        {
            padding-top:108px;
            margin: 10px;
        }

        .map
        {
            width: 670px;
            height: 400px;
        }

        .detail
        {
            width: 300px;
            height: 400px;
        }
    }
}