main
{
    width:1200px;
    height: 1080px;
    margin: auto;

    .up-section
    {
        width: 1200px;
        height:612px;
        margin-top:20px;
        
        .detail-search
        {
            width:400px;
            height: 37px;
        }
        .search
        {
            margin-bottom: 30px;
        }
    }

    .down-section
    {
        width: 1200px;
        height: 409px;

        div
        {
            display:flex;
            
            div
            {
                width: 330px;
                height: 113px;
            }
        }
    }
}