@import "../../../park/culture_charge/assets/scss/common.scss";
@import"../../../culture/assets/scss/inc.scss";
@import"../../../park/culture_charge/assets/scss/responsive.scss";
@import"../../../park/culture_charge/assets/scss/variables.scss";

main
{
    margin: auto;  

    //main-search
    .up-section
    {
        width: 800px;
        height: 508px;
        margin:auto;
        padding-top:10px;
        
       .search_form
       {
        padding-left:10px;
       }
 

        .box1
        {
            display: flex;
            padding: 10px 10px 10px;

            .map
            {
                width: 670px;
                height: 400px;
                margin-right:10px;
                
            }

            .detail
            {
                width: 300px;
                height: 400px;
                background-color: rgba(0,255,0,0.3);
            }
        }
    }

        //down-section
        .div1
        {
            width: 1293px;
            height: 300px;
            margin: auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            div
            {
                width: 200px;
                height: 200px;
                object-fit:cover;
                
                img
                {
                    flex-grow: 1;
                    flex-basis: 150px;
                    width: 150px;
                    height:150px;
                    margin:auto;
                }
            }
        }
}