@charset "utf-8";
@import "./responsive.scss";
@import "./variables.scss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
// 한글 폰트
.noto {
    font-family: 'noto', sans-serif;
}
// 영문 폰트
.roboto {
    font-family: 'Roboto', sans-serif;
}

// 기본 폰트, 배경 색상, 아이콘 공통 적용
body {
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Pretendard';
    font-weight: $fw_r;
    font-style: normal;
    color: $fc_main;
    background-color: $bg_main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* // 구글 가변 아이콘 설정
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
    } */
}
// 이미지
img {
    display: block;
}

// 텍스트 공통 적용
h1 {
    font-size: $h1;
    margin: 10px 0;
    line-height: 54px;
}
h2 {
    font-size: $h2;
    margin: 10px 0;
    line-height: 45px;
}
h3 {
    font-size: $h3;
    margin: 10px 0;
    line-height: 36px;
}
h4 {
    font-size: $h4;
    margin: 10px 0;
    line-height: 30px;
}
h5 {
    font-size: $h5;
    line-height: 22px;
}
p {
    font-size: $fs_m;
    margin: 15px 0;
    line-height: 23px;
}
b {
    font-weight: $fw_b;
}
a {
    color: $fc_main;
}