/**
 * @ File Name: search.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-13 12:05:00
 * @ Description: search.html Style CSS
 */
@charset "utf-8";

// scss import
@import "../../scss/reset.scss";
@import "../../scss/responsive.scss";
@import "./common.scss";
// Hover Library import
@import url("../../../../node_modules/hover.css/css/hover-min.css");

main {
    width: 100%;
    height: auto;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // search form, map button, map을 묶는 섹션
    #search_form_map {
        max-width: 750px;
        // 장르 선택 및 검색 양식
        #searchForm {
            width: 100%;
            select {
                width: 19%;
                height: 35px;
                border: none;
                background-color: $pc_main;
                border-radius: 10px;
                text-align: center;
                transition: all 0.2s ease;
                color: white;
            }
            select:hover {
                background-color: $pc_main_hover;
            }
            input {
                width: 60%;
                height: 35px;
                border: 1px solid $line;
                border-radius: 10px;
                background-color: $bg_sub;
                margin: 0 1%;
                padding: 0 12px;
                box-sizing: border-box;
            }
            button {
                width: 19%;
                height: 35px;
                border: none;
                border-radius: 10px;
                transition: all 0.2s ease;
                background-color: $pc_main;
                color: white;
            }
            button:hover {
                background-color: $pc_main_hover;
            }
        }
        // 지역 선택 버튼 리스트
        #map_buttons {
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0;
            // 지역 선택 각 버튼
            li {
                button {
                    width: 115px;
                    height: 25px;
                    margin: 5px;
                    border: none;
                    border-radius: 25px;
                    background-color: $bg_sub;
                    transition: all 0.2s ease;
                }
                button:hover {
                    background-color: $pc_main;
                    color: white;
                }
            }
        }
        // Kakao Map API
        #map {
            width: 100% !important;
            height: auto;
        }
    }
    // 추천 항목 리스트
    #show {
        width: 1100px;
        #show_list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li {
                width: 200px;
                margin: 80px 5px 0;
                box-sizing: border-box;
                a {
                    width: 200px;
                    display: block;
                    text-align: center;
                    img {
                        width: 200px;
                        height: 250px;
                    }
                    h3 {
                        font-size: 20px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    h4 {
                        font-size: 18px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    p {
                        font-size: 14px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}