//
//
//
//
//
//
// common.css (search.html에 맞춰 변경)
//
//
//
//
//
//
/**
 * @ File Name: common.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-10 17:05:00
 * @ Description: 공통 적용 CSS
 */
@charset "utf-8";

// scss import
@import "./variables.scss";
// font import
// roboto, noto
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
// pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
// yg-jalnan
/* @font-face {
     font-family: 'yg-jalnan';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 } */

// 한글 폰트
.noto {
  font-family: "noto", sans-serif;
}
// 영문 폰트
.roboto {
  font-family: "Roboto", sans-serif;
}

// 기본 폰트, 배경 색상, 아이콘 공통 적용
body {
  overflow-x: hidden;
  height: 100vh;
  font-family: "Pretendard" !important;
  font-weight: $fw_r;
  font-style: normal;
  color: $fc_main;
  background-color: $bg_main;
  position: relative;
}

// header 공통 적용
header {
  // 크기 조정
  z-index: 99999;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  box-sizing: border-box;
  // 블럭 가로, 세로 정렬
  display: flex;
  align-items: center;
  justify-content: space-between;
  // 배경, 선
  background-color: white;
  border-bottom: 1px solid $line !important;
  // header logo battery shape
  #battery {
    margin: 15px 0;
    margin-left: 50px;
    display: flex;
    align-items: center;
    // header logo
    #header_logo {
      // 애니메이션 설정
      animation-name: none;
      animation-duration: 0.3s;
      animation-direction: alternate;
      animation-timing-function: ease;
      // hover 트렌지션
      transition: all 0.3s ease;
      // 로고 텍스트 hidden
      overflow: hidden;
      // 폰트 설정
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 1px;
      white-space: nowrap;
      // box style
      padding: 11px;
      border-radius: 10px 10px 10px 10px;
      background-color: $mc;
      a {
        // 로고 아이콘 (fontawesome)
        i {
          font-size: 18px;
          color: $pc_main;
        }
        // 로고 문화충전 텍스트
        span {
          font-size: 16px;
          margin-left: 4px;
          display: none;
        }
      }
    }
    // 로고 over 애니메이션
    @keyframes over {
      0% {
        width: 15px;
      }
      100% {
        width: 78.31px;
      }
    }
    // 로고 out 애니메이션
    @keyframes out {
      0% {
        width: 78.31px;
      }
      100% {
        width: 15px;
      }
    }
    // battery piece shape
    #bettery_shape {
      width: 5px;
      height: 15px;
      border-radius: 0 10px 10px 0;
      margin-left: 2px;
      z-index: 1001px;
      background-color: $mc_hover;
      transition: all 0.3s ease;
    }
  }
  // header logo hover
  #battery:hover {
    // 로고 배경, 텍스트 색상 hover시 변경
    #header_logo {
      background-color: $mc_hover;
      a {
        span {
          color: $pc_main;
        }
      }
    }
    // 배터리 조각 형태 색상 hover시 변경
    #bettery_shape {
      background-color: $pc_main;
    }
  }
  // header 바로가기
  #shortcut_nav {
    position: absolute;
    top: 12px;
    right: 42px;
    // 바로가기 그룹
    ul {
      // 바로가기 가로 정렬
      display: flex;
      // 바로가기 리스트
      li {
        // 형태, 간격, 트렌지션 설정
        padding: 12px;
        box-sizing: border-box;
        margin-left: 30px;
        transition: all 0.3s ease;
        // 텍스트 설정
        a {
          font-size: $h5;
          font-weight: $fw_m;
          // 공간 부족시 줄바꿈 안함
          white-space: nowrap;
        }
      }
      // shortcut_nav hover
      li:hover {
        background-color: $mc;
      }
    }
  }
}

// footer 공통 적용
footer {
  position: absolute;
  bottom: 0;
  // 크기 조정
  width: 100%;
  height: 25px;
  // 색상 적용
  background-color: $bg_footer;
  color: rgba(255, 255, 255, 0.5);
  // copyright
  address {
    font-size: 10px;
    text-align: center;
    line-height: 25px;
  }
}

// 그림자
.shadow {
  box-shadow: 0 0 33px -10px rgba(0, 0, 0, 0.4);
}
// 라운딩
.border_r {
  border-radius: 16px;
}

// 이미지
img {
  display: block;
}

// 텍스트 공통 적용
h1 {
  font-size: $h1;
  margin: 10px 0;
  line-height: 54px;
}
h2 {
  font-size: $h2;
  margin: 10px 0;
  line-height: 45px;
}
h3 {
  font-size: $h3;
  margin: 10px 0;
  line-height: 36px;
}
h4 {
  font-size: $h4;
  margin: 10px 0;
  line-height: 30px;
}
h5 {
  font-size: $h5;
  line-height: 22px;
}
p {
  font-size: $fs_m;
  margin: 15px 0;
  line-height: 23px;
}
b {
  font-weight: $fw_b;
}
a {
  color: $fc_main;
}

//
//
//
//
//
//
//
// search
//
//
//
//
//
//
//
//
//
//
//
/**
 * @ File Name: search.scss
 * @ Author: 박다윗 (daxxx2030@gail.com)
 * @ Last Update: 2022-10-13 12:05:00
 * @ Description: search.html Style CSS
 */

// scss import
@import "../../scss/reset.scss";
@import "../../scss/responsive.scss";
// Hover Library import
@import url("../../../../node_modules/hover.css/css/hover-min.css");
html {
  height: 100%;
}
body {
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  margin: auto;
  border-bottom: 1px;

  /** 
  * search form을 묶는 섹션
  */
  #search_form_map {
    width: 80%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 5px 0px 6px -7px #000000;

    // 장르 선택 및 검색 양식
    #searchForm {
      width: 100%;
      fieldset {
        width: 100%;
        .genre_container {
          width: 100%;
          position: relative;

          #genre_buttons {
            // 장르 선택 각 버튼
            display: flex;
            li {
              cursor: pointer;
              display: block;
              width: 115px;
              height: 60px;
              margin: 5px;
              border: none;
              border-radius: 10px;
              background-color: $bg_sub;
              transition: all 0.2s ease;
              text-align: center;
              line-height: 60px;
              letter-spacing: 5px;
              font-weight: 500;
              box-shadow: 1px 1px 3px 1px #dadce0;
              &:hover {
                background-color: $pc_main;
                color: white;
              }
              &.choiced {
                background-color: $pc_main;
                color: white !important;
              }
            }
          }
        }
      }

      // 검색창
      input {
        width: 90%;
        height: 50px;
        border: 1px solid $line;
        border-radius: 10px 0 0 10px;
        background-color: $bg_sub;
        padding: 0 12px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      // 검색버튼
      button {
        width: 10%;
        height: 50px;
        border: none;
        border-radius: 0 10px 10px 0;
        transition: all 0.2s ease;
        background-color: $pc_main;
        box-sizing: border-box;
        color: white;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 5px;
        cursor: pointer;
        transform: translate(0, 2px);
      }

      button:hover {
        background-color: $pc_main_hover;
      }
    }

    /** 
    * 맵과 지역버튼을 묶는 섹션
    */
    .map-container {
      position: relative;

      #map {
        border: 1px solid gray;
      }

      .map-category-title {
        width: 30px;
        height: 60px;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        line-height: 25px;
        border-radius: 0 5px 5px 0;
        position: absolute;
        top: 0;
        right: -30px;
        background-color: GRAY;
        font-weight: 600;
        color: white;
        cursor: pointer;
        z-index: 12;

        &.fold {
          z-index: 11;
        }

        &:hover {
          background-color: $pc_main;
        }
      }

      .map-category-cover {
        width: 100px;
        height: 100%;
        position: absolute;
        background-color: #fafafa;
        top: 0;
        right: -100px;
        z-index: 10;
        box-shadow: inset 5px 0px 6px -7px #000000;
      }

      #map-button-container {
        height: 99.1%;
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;

        transition: 0.5s ease-out;
        border: 1px solid gray;

        // 지역 선택 버튼 리스트
        #map_buttons {
          width: 100%;
          height: 100%;

          // 지역 선택 각 버튼
          li {
            width: 100%;
            height: 5.87235294%;

            button {
              cursor: pointer;
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 1px solid rgb(200, 200, 200);
              border-left: 1px solid gray;

              background-color: $bg_sub;
              transition: all 0.2s ease;
              font-weight: 500;
              box-shadow: 1px 1px 3px 1px #dadce0;
            }
            &:last-child button {
              border-bottom: none;
            }
            button:hover {
              background-color: $pc_main;
              color: white;
            }
            button.choiced2 {
              background-color: $pc_main !important;
              color: white !important;
            }
          }
        }
      }
    }
  }

  //
  // 사이드탭
  //
  .category-title {
    width: 30px;
    height: 60px;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 25px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: -30px;
    background-color: GRAY;
    font-weight: 600;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: $pc_main;
      color: white;
    }
  }

  // 추천 항목 리스트
  #show {
    width: 1100px;
    #show_list {
      width: 100%;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-evenly;
      li {
        width: 200px;
        margin: 80px 5px 0;
        box-sizing: border-box;
        a {
          width: 200px;
          display: block;
          text-align: center;
          img {
            width: 200px;
            height: 250px;
          }
          h3 {
            font-size: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          h4 {
            font-size: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          p {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

// 위로 가기 버튼
#going_up {
  width: 10vw;
  font-size: 3em;
  text-align: center;
  color: gray;
  z-index: 999;
  position: fixed;
  bottom: 50px;
  right: 0;
  &:hover {
    color: $pc_main;
  }
}
