.map_wrap {
  left: 50%;
  margin: auto;
  margin-top: 20px;
  width: 700px;
  height: 500px;
  transition: all 900ms cubic-bezier(0.445, 0.05, 0, 1.265);
}
.title {
  font-weight: bold;
  display: block;
}
.hAddr {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 2px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 5px;
}
#centerAddr {
  display: block;
  margin-top: 2px;
  font-weight: normal;
}
.bAddr {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.map_text {
  display: none;
}

#chooseLoc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  i {
    width: 20px;
  }
}
